{% extends 'base.html' %}

{% block title %} Profiles {% endblock %}

{% block content %}
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <table cellpadding="10" align="center">
      <tr>
        <th colspan="2" align="center"> <h2> Upload Your Profile </h2></th>
      </tr>
      {{ form.as_table}}
      <tr>
        <td colspan="2" align="center"> <input type="submit" value="Submit" name='b1'> </td>
      </tr>
    </table>
  </form>

  {% if obj %}
  <br/><br/><h4 align="center">Your profile succesfully uploaded</h4>
  <table cellpadding="8" border="2" align="center">
    <tr>
      <td><strong>{{obj.fname}}</strong></td>
      <td><strong>{{obj.lname}}</strong></td>
      <td><strong>{{obj.tech}}</strong></td>
      <td><strong>{{obj.email}}</strong></td>
      <td> <img src="{{ obj.photo.url}}" alt="image" "height=100" width="80"> </td>
    </tr>
  </table>
  <br/><br/><br/><br/>
  {% endif %}

{% endblock %}
